# Make vim the default editor.
export EDITOR='vim';

# Enable persistent REPL history for `node`.
NODE_REPL_HISTORY_FILE=~/.node_history;
# Allow 32³ entries; the default is 1000.
NODE_REPL_HISTORY_SIZE='32768';

# Increase Bash history size. Allow 32³ entries; the default is 500.
export HISTSIZE='32768';
export HISTFILESIZE="${HISTSIZE}";
# Omit duplicates and commands that begin with a space from history.
export HISTCONTROL='ignoreboth';

# Prefer US English and use UTF-8.
export LANG='en_US.UTF-8';
export LC_ALL='en_US.UTF-8';

# Highlight section titles in manual pages.
export LESS_TERMCAP_md="${yellow}";

# Don’t clear the screen after quitting a manual page.
export MANPAGER='less -X';

# Always enable colored `grep` output.
export GREP_OPTIONS='--color=auto';

# Go
export GOPATH=/Users/troyharvey/go
export PATH="$PATH:/Users/troyharvey/go/bin/"

# Homebrew
export PATH="/usr/local/sbin:$PATH"

# Use Homebrew installed bash as user shell
export SHELL="/usr/local/bin/bash"

# Silence zsh nonsense in Catalina
export BASH_SILENCE_DEPRECATION_WARNING=1

# Use the Homebrew curl instead of Apple's curl
# https://unix.stackexchange.com/questions/192944/how-to-fix-curl-sslv3-alert-handshake-failure#comment932043_192957
export PATH="/usr/local/opt/curl/bin:$PATH"
